In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [8]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [11]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [12]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
5969,6634,-1.611463,0.190648,0.901715,1.531254,-1.535865,0.799245,1.513786,0.495829,0.200390,...,0.211223,0.007477,1.026272,0.057628,-0.024955,-0.368263,0.081684,0.140669,458.92,0.0
5970,6635,-1.420272,1.449354,1.320110,-1.894320,0.913695,0.454601,0.894179,-0.385450,2.433841,...,-0.529027,-0.368394,-0.247773,-1.189156,-0.126040,0.701487,0.277333,-0.222694,0.77,0.0
5971,6637,-1.206696,0.284728,2.152053,-2.850437,-0.437285,-0.238376,-0.333341,0.334679,2.870542,...,0.039460,0.464476,-0.457193,-0.556105,0.517579,0.008006,0.366054,0.185008,14.00,0.0
5972,6644,1.067611,0.091006,-0.153917,0.704233,0.113894,-0.826866,0.567690,-0.464181,0.957295,...,-0.476723,-1.410090,-0.037550,-0.177773,0.321810,0.114930,-0.109640,0.023205,139.90,0.0
5973,6645,-0.535272,-0.132299,2.180041,1.018303,-1.498819,0.529570,0.420147,0.045445,1.543919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#trying to get information about the dataset

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    5974 non-null   int64
 1   V1      5974 non-null   float64
 2   V2      5974 non-null   float64
 3   V3      5974 non-null   float64
 4   V4      5974 non-null   float64
 5   V5      5974 non-null   float64
 6   V6      5974 non-null   float64
 7   V7      5974 non-null   float64
 8   V8      5974 non-null   float64
 9   V9      5974 non-null   float64
 10  V10     5974 non-null   float64
 11  V11     5974 non-null   float64
 12  V12     5974 non-null   float64
 13  V13     5974 non-null   float64
 14  V14     5974 non-null   float64
 15  V15     5974 non-null   float64
 16  V16     5974 non-null   float64
 17  V17     5974 non-null   float64
 18  V18     5973 non-null   float64
 19  V19     5973 non-null   float64
 20  V20     5973 non-null   float64
 21  V21     5973 non-null   float64
 22  V22     5973 non-null   float64
 23  V23     5973 non-null   float64
 24  V24     5973 non-null   float64
 25  V25     5973 non-null   float64
 26  V26     5973 non-null   float64
 27  V27     5973 non-null   float64
 28  V28     5973 non-null   float64
 29  Amount  5973 non-null   float64
 30  Class   5973 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 1.4 MB

In [14]:
#check missing values in each coloumn

credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [16]:
credit_card_data.isnull().sum().sum()

13

In [20]:
from sklearn.impute import SimpleImputer

In [26]:
credit_card_data['V18'] = credit_card_data['V18'].fillna(credit_card_data['V18'].mode()[0])
credit_card_data['V19'] = credit_card_data['V19'].fillna(credit_card_data['V19'].mode()[0])
credit_card_data['V20'] = credit_card_data['V20'].fillna(credit_card_data['V20'].mode()[0])
credit_card_data['V21'] = credit_card_data['V21'].fillna(credit_card_data['V21'].mode()[0])
credit_card_data['V22'] = credit_card_data['V22'].fillna(credit_card_data['V22'].mode()[0])
credit_card_data['V23'] = credit_card_data['V23'].fillna(credit_card_data['V23'].mode()[0])
credit_card_data['V24'] = credit_card_data['V24'].fillna(credit_card_data['V24'].mode()[0])
credit_card_data['V25'] = credit_card_data['V25'].fillna(credit_card_data['V25'].mode()[0])
credit_card_data['V26'] = credit_card_data['V26'].fillna(credit_card_data['V26'].mode()[0])
credit_card_data['V27'] = credit_card_data['V27'].fillna(credit_card_data['V27'].mode()[0])
credit_card_data['V28'] = credit_card_data['V28'].fillna(credit_card_data['V28'].mode()[0])
credit_card_data['Amount'] = credit_card_data['Amount'].fillna(credit_card_data['Amount'].mode()[0])
credit_card_data['Class'] = credit_card_data['Class'].fillna(credit_card_data['Class'].mode()[0])
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [27]:
credit_card_data.isnull().sum().sum()

0

In [28]:
 #distribution of legit transaction and fraudulent transaction 

 credit_card_data['Class'].value_counts()

0.0    5971
1.0       3
Name: Class, dtype: int64

AS THERE IS VERY HIGH DIFFERENCE BETWEEN THE 2 OUTPUTS THIS IS HIHLY UNALANCED DATA

0 --> NORMAL TRANSACTION
1 --> FRAUDULENT TRANSACTION

In [29]:
#seperating the data for analysis

legit = credit_card_data[credit_card_data.Class ==0 ]
fraud = credit_card_data[credit_card_data.Class ==1 ]

In [33]:
credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,...,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000
mean,2677.615501,-0.266159,0.285505,0.844231,0.104200,0.000709,0.194948,0.018324,-0.039006,0.396916,...,-0.043090,-0.161479,-0.036533,0.029125,0.089897,-0.040328,0.025270,0.006112,65.051088,0.000502
std,1765.025532,1.395405,1.208867,1.031448,1.442339,1.185900,1.365525,1.059870,1.304005,1.047749,...,0.883256,0.646348,0.373198,0.619888,0.407651,0.488349,0.364462,0.265109,192.475985,0.022406
min,0.000000,-12.168192,-15.732974,-12.389545,-4.657545,-32.092129,-7.465603,-12.968670,-23.632502,-3.336805,...,-11.468435,-8.454599,-7.996811,-2.512377,-2.322906,-1.338556,-7.976100,-2.909294,0.000000,0.000000
25%,1162.250000,-1.015749,-0.280054,0.295701,-0.839417,-0.609206,-0.677720,-0.492968,-0.189736,-0.264280,...,-0.260505,-0.594621,-0.187196,-0.350143,-0.152728,-0.399369,-0.049641,-0.017776,4.450000,0.000000
50%,2537.000000,-0.420703,0.346083,0.882882,0.161767,-0.083983,-0.142606,0.041761,0.037831,0.360826,...,-0.111677,-0.176976,-0.046782,0.095253,0.106364,-0.079744,0.016039,0.019405,15.620000,0.000000
75%,3781.750000,1.115402,0.941548,1.504158,1.071412,0.441406,0.605784,0.566306,0.343067,0.961662,...,0.059781,0.273105,0.088125,0.436258,0.355142,0.245545,0.155499,0.082691,56.630000,0.000000
max,6645.000000,1.685314,7.467017,4.101716,6.013346,10.658654,21.393069,34.303177,3.877662,9.272376,...,22.580675,4.393846,4.095021,3.200201,1.972515,3.463246,3.852046,4.860769,7712.430000,1.000000

In [30]:
print(legit.shape)
print(fraud.shape)

(5971, 31)
(3, 31)

In [31]:
legit.Amount.describe()

count    5971.000000
mean       64.954994
std       192.415502
min         0.000000
25%         4.450000
50%        15.620000
75%        56.430000
max      7712.430000
Name: Amount, dtype: float64

In [35]:
fraud.Amount.describe()

count      3.000000
mean     256.310000
std      264.880121
min        0.000000
25%      119.965000
50%      239.930000
75%      384.465000
max      529.000000
Name: Amount, dtype: float64

In [37]:
#compare the values for the both the transactions 
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2678.066488,-0.265010,0.285555,0.844803,0.102809,0.000707,0.195476,0.018609,-0.039180,0.397664,...,0.055443,-0.043259,-0.161471,-0.036733,0.029149,0.089914,-0.040263,0.025275,0.006158,64.954994
1.0,1780.000000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.310000

Under sampling will be done here

In [38]:
legit_sample = legit.sample(n=3)

Concatinating the the 2 datsets

In [39]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [44]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
2340,1881,1.131979,-0.053359,1.182207,1.147381,-0.721792,0.317190,-0.632142,0.227050,0.573970,...,-0.025622,0.123172,-0.064669,0.015585,0.445927,-0.407635,0.071676,0.025965,9.99,0.0
2950,2497,0.881512,-1.521639,0.999563,-0.446934,-1.733189,0.225237,-1.116012,0.269147,-0.288772,...,0.509724,1.068260,-0.223766,0.266801,0.231156,-0.064899,0.021628,0.046270,204.00,0.0
4832,4324,1.091217,-0.083996,1.265521,1.311345,-0.571454,0.811998,-0.892402,0.361189,2.052792,...,-0.163712,-0.056932,-0.007213,-0.379922,0.306331,-0.412709,0.052796,0.013452,9.99,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0

In [45]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
2950,2497,0.881512,-1.521639,0.999563,-0.446934,-1.733189,0.225237,-1.116012,0.269147,-0.288772,...,0.509724,1.068260,-0.223766,0.266801,0.231156,-0.064899,0.021628,0.046270,204.00,0.0
4832,4324,1.091217,-0.083996,1.265521,1.311345,-0.571454,0.811998,-0.892402,0.361189,2.052792,...,-0.163712,-0.056932,-0.007213,-0.379922,0.306331,-0.412709,0.052796,0.013452,9.99,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0

In [46]:
new_dataset['Class'].value_counts()

0.0    3
1.0    3
Name: Class, dtype: int64

In [47]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2900.666667,1.034903,-0.552998,1.149097,0.670597,-1.008812,0.451475,-0.880185,0.285795,0.779330,...,0.027443,0.106797,0.378167,-0.098549,-0.032512,0.327805,-0.295081,0.048700,0.028562,74.66
1.0,1780.000000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.31

In [50]:
X = new_dataset.drop(columns = 'Class', axis=1)
Y = new_dataset['Class']

In [51]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
2340  1881  1.131979 -0.053359  1.182207  1.147381 -0.721792  0.317190
2950  2497  0.881512 -1.521639  0.999563 -0.446934 -1.733189  0.225237
4832  4324  1.091217 -0.083996  1.265521  1.311345 -0.571454  0.811998
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
4920  4462 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788

            V7        V8        V9  ...       V20       V21       V22  \
2340 -0.632142  0.227050  0.573970  ... -0.077560 -0.025622  0.123172
2950 -1.116012  0.269147 -0.288772  ...  0.395521  0.509724  1.068260
4832 -0.892402  0.361189  2.052792  ... -0.235634 -0.163712 -0.056932
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477
4920  0.562320 -0.399147 -0.238253  ... -0.430022 -0.294166 -0.932391

           V23       V24       V25       V26       V27       V28  Amount
2340 -0.064669  0.015585  0.445927 -0.407635  0.071676  0.025965    9.99
2950 -0.223766  0.266801  0.231156 -0.064899  0.021628  0.046270  204.00
4832 -0.007213 -0.379922  0.306331 -0.412709  0.052796  0.013452    9.99
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00
4920  0.172726 -0.087330 -0.156114 -0.542628  0.039566 -0.153029  239.93

[6 rows x 30 columns]

In [52]:
print(Y)

2340    0.0
2950    0.0
4832    0.0
541     1.0
623     1.0
4920    1.0
Name: Class, dtype: float64

In [53]:

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.33, random_state=2, stratify=Y)

In [55]:
print( X.shape)

(6, 30)

In [58]:
print(X_train.shape)

(4, 30)

In [59]:
print(X_test.shape)

(2, 30)

In [60]:
print(Y_train.shape)

(4,)

In [61]:
model = LogisticRegression()

In [63]:
model.fit(X_train, Y_train)

LogisticRegression()

Model Accuracy

In [67]:
X_train_prediction = model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [68]:
print(training_data_accuracy)

1.0

In [69]:
X_test_prediction = model.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [70]:
print(test_data_accuracy)

1.0

In [74]:
print(model.score(X_test, Y_test))

1.0

Without Under-Sampling

In [78]:
X1 = credit_card_data.drop( columns ='Class', axis =1)
Y1 = credit_card_data['Class']

In [79]:
print(X1)

      Time        V1        V2        V3        V4        V5        V6  \
0        0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388
1        0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
2        1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499
3        1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203
4        2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921
...    ...       ...       ...       ...       ...       ...       ...
5969  6634 -1.611463  0.190648  0.901715  1.531254 -1.535865  0.799245
5970  6635 -1.420272  1.449354  1.320110 -1.894320  0.913695  0.454601
5971  6637 -1.206696  0.284728  2.152053 -2.850437 -0.437285 -0.238376
5972  6644  1.067611  0.091006 -0.153917  0.704233  0.113894 -0.826866
5973  6645 -0.535272 -0.132299  2.180041  1.018303 -1.498819  0.529570

            V7        V8        V9  ...       V20       V21       V22  \
0     0.239599  0.098698  0.363787  ...  0.251412 -0.018307  0.277838
1    -0.078803  0.085102 -0.255425  ... -0.069083 -0.225775 -0.638672
2     0.791461  0.247676 -1.514654  ...  0.524980  0.247998  0.771679
3     0.237609  0.377436 -1.387024  ... -0.208038 -0.108300  0.005274
4     0.592941 -0.270533  0.817739  ...  0.408542 -0.009431  0.798278
...        ...       ...       ...  ...       ...       ...       ...
5969  1.513786  0.495829  0.200390  ...  0.935516  0.211223  0.007477
5970  0.894179 -0.385450  2.433841  ...  0.884055 -0.529027 -0.368394
5971 -0.333341  0.334679  2.870542  ...  0.082038  0.039460  0.464476
5972  0.567690 -0.464181  0.957295  ...  0.211006 -0.476723 -1.410090
5973  0.420147  0.045445  1.543919  ...  0.156089  0.007343  0.250886

           V23       V24       V25       V26       V27       V28  Amount
0    -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1     0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2     0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3    -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4    -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...        ...       ...       ...       ...       ...       ...     ...
5969  1.026272  0.057628 -0.024955 -0.368263  0.081684  0.140669  458.92
5970 -0.247773 -1.189156 -0.126040  0.701487  0.277333 -0.222694    0.77
5971 -0.457193 -0.556105  0.517579  0.008006  0.366054  0.185008   14.00
5972 -0.037550 -0.177773  0.321810  0.114930 -0.109640  0.023205  139.90
5973 -0.331600  1.009952  0.233730 -0.824471  0.241305 -0.020359    1.00

[5974 rows x 30 columns]

In [80]:
print(Y1)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
5969    0.0
5970    0.0
5971    0.0
5972    0.0
5973    0.0
Name: Class, Length: 5974, dtype: float64

In [87]:
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1,Y1, test_size=0.33, random_state=2, stratify=Y1)

In [82]:
print(X1.shape)

(5974, 30)

In [83]:
print(Y1.shape)

(5974,)

In [84]:
model = LogisticRegression()

In [85]:
model.fit(X1_train, Y1_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [88]:
X1_train_prediction = model.predict(X1_train)
training_data_accuracy= accuracy_score(X1_train_prediction, Y1_train)
print(training_data_accuracy)

1.0

In [90]:
X1_test_prediction = model.predict(X1_test)
test_data_accuracy= accuracy_score(X1_test_prediction, Y1_test)
print(test_data_accuracy)

0.9989858012170385

In [91]:
print(model.score(X1_test, Y1_test))

0.9989858012170385